<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create ITEM</title>
</head>
<body>
    
    <h1>Create ITEM</h1>
    <form method="POST" action="{% url 'add_item' %}">
        {% csrf_token %}
        <label for="hsn">HSN:</label>
        <input type="text" id="hsn" name="hsn" required> <br><br>
        
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="sgst">Enter SGST/IGST (%): </label>
        <input type="text"  name="sgst" required><br><br>
        
        <label for="cgst">Enter CGST (%):</label>
        <input type="text"  name="cgst" required><br><br>
               
        <label for="stock">Current Stock:</label>
        <input type="number" name="stock" required><br><br>
        
        
        <button type="submit">Add Item</button>
    </form>    
</body>
</html>
