<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instabill - Create Buyer</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}"><div class="logo">Instabill</div></a>
        <a href="{% url 'logout_page' %}"><button class="logout-btn">Logout</button></a>
    </div>
    <a href="{% url 'login_page' %}" class="btn btn-primary btn-block">Login</a>
    <a href="{% url 'register' %}" class="btn btn-secondary btn-block">Register</a>

</body>
</html>
