<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Payment</title>
</head>
<body>
    <h1>Paymemts Entry</h1>
    <form method="post">
        {% csrf_token %}
        
        <label>From:</label>
        <select name="money_from" id="money_from" required>
            {% for s in sellers %}
            <option value="{{ s.id }}">Seller - {{ s.name }}</option>
            {% endfor %}
            {% for b in buyers %}
            <option value="{{ b.id }}">Buyer - {{ b.name }}</option>
            {% endfor %}
            {% for e in employees %}
            <option value="{{ e.id }}">Employee - {{ e.name }}</option>
            {% endfor %}
        </select>
        <br>
        
        <label>To:</label>
        <select name="money_to" id="money_to" required>
            {% for s in sellers %}
            {% if s.id != selected_from_id %}
            <option value="{{ s.id }}">Seller - {{ s.name }}</option>
            {% endif %}
            {% endfor %}
            {% for b in buyers %}
            {% if b.id != selected_from_id %}
            <option value="{{ b.id }}">Buyer - {{ b.name }}</option>
            {% endif %}
            {% endfor %}
            {% for e in employees %}
            {% if e.id != selected_from_id %}
            <option value="{{ e.id }}">Employee - {{ e.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        
        <br>
        
        <label>Amount : </label>
        <input type="text" name="amount" required><br>
        
        
        <label>Date: </label>
        <input type="date" name="date" required><br>

        <label>Mode: </label>
        <select name="mode" required>
            <option value="CASH">CASH</option>
            <option value="UPI">UPI</option>
            <option value="Net Banking">Net Banking</option>
            <option value="NEFT">NEFT</option>
            <option value="RTGS">RTGS</option>
            <option value="Card">Card</option>
            <option value="Cheque">Cheque</option>
        </select>
        <br>
        
        <label>Note: (optional) </label>
        <input type="text" name="note" ><br>
        
        <button type="submit">Submit</button>
    </form>

    <script>

    </script>
</body>
</html>
