<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenerateSuccess</title>
</head>
<body>
    <center>
        <H1>
            Generate Success Page
        </H1>
        <p>
            <h2>
                Your Invoice is Succefully Generated!
            </h2>
            <a href="{% url 'home' %}"><button>HOME</button></a>
            <a href="{% url 'view' %}"><button>View/Print Invoice</button></a>
        </p>

    </center>
    
</body>
</html>