<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Professional Webpage</title>
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
  
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}"><div class="logo">Instabill</div></a>
        <a href="{% url 'logout_page' %}"><button class="logout-btn">Logout</button></a>
    </div>

  <main>
    <section class="hero">
      <h1>Welcome to InstaBill</h1>
      <p>Best way to manage your business online.</p>
    </section>
    <section class="options">

      <a href="{% url 'manage_buyer' %}"><div class="option" id="buyer">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZYP0MEL3S4o1T1dUOSkEHeRAJJWqZ5IleVZ224cLypU5ogFLAV7LGb5xCjXNa1JOsfPT4A9rozTpcePQYiUyCs5tGYYXoUClI=s2560" alt="Buyer">
        <h2>Buyer</h2>
        <p>Manage clients of your Organization.</p>
      </div></a>

      <a href="{% url 'manage_seller' %}">
      <div class="option" id="seller">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYJ41ishZ1K_SYuI7AOdLoPmC0wfLzTWswFD2Tm7_DMawxuNLECb5le8nuOtYSHe3Psr1zudoPMfpI9MigIzSnncUCwSocFeg=s2560" alt="Seller">
        <h2>Seller</h2>
        <p>Manage the Branches of your Organization.</p>
      </div></a>

      <a href="{% url 'manage_item' %}">
      <div class="option" id="item">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihapCCntP9EoOkICuoDm0A8wRJIwd3fLe0GQ7hRbOFnKKOSCRVr18zprUH54JAuOLtYaVuCjQHDytY5QXVJqXkvHRu41qqtBm1o=s2560" alt="Item">
        <h2>Item</h2>
        <p>Manage Items used and selled in organization.</p>
      </div></a>

      <a href="{% url 'manage_invoice' %}">
      <div class="option" id="invoice">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZURG2GOZygIZTTpr0gRNjSFTqgGx7tZlplWooUFgDT5qOsctYFK7TVhX9LJBXP48rIdGKBtzKJYzUh1WRGrgkIU_GlSjBuCQ=s2560" alt="Invoice">
        <h2>Invoice</h2>
        <p>Manage and Generate invoices.</p>
      </div></a>

      <a href="{% url 'manage_employee' %}">
      <div class="option" id="reports">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihasIAkP6AvONfPtTLJ0z5t02OgIWercpDFL4qyzRsuoS-8CTE7ADvVwTh53PlN45XHJcffylIkeINaUmi4T7VgaDyVwo40eOq0=s2560" alt="Employee">
        <h2>Employee</h2>
        <p>Manage Employees working in firm.</p>
      </div></a>

      <a href="{% url 'deleteallusers' %}">
      <div class="option" id="settings">
        <img src="https://drive.usercontent.google.com/download?id=FILE ID" alt="Settings">
        <h2>Reset</h2>
        <p>Erase all data, use fresh app.</p>
      </div></a>
      
      
      <a href="{% url 'demo' %}">
      <div class="option" id="settings">
        <img src="https://drive.usercontent.google.com/download?id=FILE ID" alt="Settings">
        <h2>DEMO</h2>
        <p>Only for developer.</p>
      </div></a>


    </section>
  </main>
</body>
</html>

