<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instabill | BUYER</title>
    <style>
        td{
            border: 2px;
            padding: 5px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <a href=""><h1>INSTABILL</h1></a>
    <h1>Manage Buyer</h1>
    
        <a href="{% url 'logout_page' %}">LOGOUT</a>
        <hr>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>GST</td>
                            <td>Phone</td>
                            <td>Address</td>
                            <td>Balance</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    {% for buyer in buyers %}
        <tr>
            <td>{{ buyer.name }}</td>
            <td>{{ buyer.gst }}</td>
            <td>{{ buyer.phone }}</td>
            <td>{{ buyer.city }} , {{ buyer.state }}</td>
            <td>{{ buyer.bal }}</td>
            <td>
                <form action="{% url 'delete_buyer' buyer.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this buyer?');">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
                </table>
            </div>
            {% if messages %}
            <div style="color: rgb(0, 0, 0); text-align: center;">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        
        <a href="{% url 'add_buyer' %}"><button>Add Buyer</button></a>
    
</body>
</html>
