<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterSuccess</title>
</head>
<body>
    <center>
        <H1>
            RegisterSuccess Page
        </H1>
        <p>
            <h2>
                Your Account is Succefully Created!
            </h2>
            <a href="{% url 'main' %}"><button>HOME</button></a>
            <a href="{% url 'login_page' %}"><button>Login</button></a>
        </p>

    </center>
    
</body>
</html> -->
<!doctype html>
<html lang="en">
<head>
    {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
 
  <title>HOME | InstaBill</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  
  <nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
    <div class="container">
      <div class="site-navigation">
        <a href="{% url 'main' %}" class="logo m-0 float-left">InstaBill<span class="text-primary">.</span></a>

        <ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
          <li class="cta-button-outline"><a href="{% url 'login_page' %}">Sign in</a></li>
          <li class="cta-primary"><a href="{% url 'register' %}">Register</a></li>
        </ul>


        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none" data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>

      </div>
    </div>
  </nav>
  

  <div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="dots"></div>
          <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
              <h1 class="heading" data-aos="fade-up" data-aos-delay="0">Your account has been  <span class="d-block"> SUCCESSFULLY CREATED. </a></span></h1>
            </div>
          </div>
          <div class="row align-items-center">

            <div class="col-lg-4">
              <div class="intro">

                <p data-aos="fade-up"  data-aos-delay="200">
                  <a href="{% url 'login_page' %}" class="btn btn-primary smoothscroll mr-1">LOGIN</a>
                  <a href="{% url 'main' %}" class="btn btn-outline-primary smoothscroll">Go to Home</a>
                </p>
              </div>
              
            </div> <!-- /.col-lg-5 -->
            <div class="col-lg-8">
              <div class="illustration">
                <img src="{% static 'images/graphs-statistics_outline.svg' %}" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/jquery.animateNumber.min.js'%}"></script>
  <script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
  <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  
  <script src="{% static 'js/custom.js'%}"></script>
  
</body>

</html>
